@import url('http://fonts.googleapis.com/css?family=Montserrat');

img.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    transform: translate(-23px,0px);

}
.shadow-gradient-verh{
    background-image: linear-gradient(to bottom,#ff5f6d,#ffc371);
    color:white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    position:relative;
}

.shadow-gradient-verh:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.3s ease;
}

.shadow-gradient{
    background-image: linear-gradient(to bottom,#ff5f6d,#ffc371);
    color:white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.shadow-gradient:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.3s ease;
}

.seat {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #53e82f;
    cursor: pointer;
}

.seat:hover {
    background-color: #348d1e;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.3s ease;
}

.seat.selected {
    background-color: #f00;
}

#saveBtn{
    display: block;
    margin: 20px auto;
}

#cinema-seats {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.shadow-gradient-time{
    background-image: linear-gradient(to bottom,#ff5f6d,#ffc371);
    color:white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    position:relative;
    width: 400px;
    height: 150px;
    margin: 0 10px;
    font-size: 4em;

}

.number {
    position: relative;
    display: inline-block;
    top: 30%;
    transform: translate(0, -70%);
    font-size: 16pt;
    margin: 0;
}

.numberSeat {
    text-align: center;
    position: relative;
    display: inline-block;
    font-size: 16pt;
    width: 50px;
    height: 50px;
    margin: 0 5px 5px 5px;
}

h2 {
    position: absolute;
    font-family: 'Montserrat';
    font-size: 48pt;
    left: 50%;
    transform: translate(-50%, 0);   
}

button {
    cursor: pointer;
}

#btnMainPage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#btn {
    width: 300px;
    height: 100px;
    font-size: 24pt;
}

#titleMain {
    position: relative;
    font-family: 'Montserrat';
    font-size: 48pt;
    text-align: center;
}

.backDiv {
    position: relative;
    top: 0%
}

#btnClear {
    position: absolute;
    margin: 5px;
    left: 53%;
    top: 95%;
    transform: translate(-50%, -100%);
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
}

h3 {
    margin: 5px;
    position: absolute;
    font-family: 'Montserrat';
    font-size: 18pt;
    left: 44%;
    top: 95%;
    transform: translate(-50%, -100%);
}
